@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  min-width: 23.4375rem;
  display: grid;
  grid-template-columns: 58% 1fr;
  flex-wrap: wrap-reverse;
  position: relative;
  background-image: url(../../images/bg-pattern-desktop.svg);
}
.container_left {
  min-width: 21.5625rem;
  padding-left: 10.4375rem;
  padding-top: 4rem;
}
.container_left img {
  margin-bottom: 8.125rem;
}
.container_left .leitmotiv {
  width: min-content;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #413a3a;
  font-size: 1.875rem;
}
.container_left .leitmotiv span {
  color: #ce9797;
  font-weight: 400;
}
.container_left .content {
  width: 26.875rem;
  margin: 2.8125rem 0;
  line-height: 2;
  color: #ce9797;
  font-size: 0.9375rem;
}
.container_left form {
  width: 26.875rem;
  height: 3.4375rem;
  border: 2px solid #ce9797;
  display: flex;
  border-radius: 1.6875rem;
}
.container_left form [type=text] {
  height: 100%;
  flex: 4;
  background: transparent;
  border: none;
  padding-left: 1.5625rem;
  outline: none;
}
.container_left form [type=submit] {
  cursor: pointer;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  flex: 1;
  height: 100%;
  width: 10%;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  border-radius: 1.6875rem;
  box-shadow: 0px 10px 15px #6e6e6e;
}
.container_left form [type=submit]:hover {
  background: #fddbdb;
}
.container_left form.invalid {
  border-color: red;
}
.container_left .warning {
  visibility: hidden;
  text-align: left;
  font-size: 0.8125rem;
  color: red;
}
.container_right {
  min-width: 15.625rem;
  background-size: cover;
  background-image: url(../../images/hero-desktop.jpg);
}

@media screen and (max-width: 595px) {
  .container {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 5.25rem 15.6875rem 1fr;
    position: relative;
  }
  .container > * {
    width: 100%;
  }
  .container_right {
    height: 100%;
    background-image: url(../../images/hero-mobile.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 2;
  }
  .container_left {
    grid-row: 3;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-direction: column;
  }
  .container_left .leitmotiv {
    text-align: center;
  }
  .container_left .content {
    width: 90%;
    text-align: center;
  }
  .container_left form {
    width: 19.375rem;
  }
  .container img {
    position: absolute;
    top: 1.8125rem;
    left: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
