@use "./utils/index" as vars;

.container {
    height: 100%;
    // width: vars.rem(1440);
    min-width: vars.rem(375);
    display: grid;
    grid-template-columns: 58% 1fr;
    flex-wrap: wrap-reverse;
    position: relative;
    background-image: url(../../images/bg-pattern-desktop.svg);
    // background-color: vars.$test;

    // &_title {
    //     position: absolute;
    //     top: vars.rem(64);
    //     left: vars.rem(167);
    // }

    &_left {
        min-width: vars.rem(345);
        // width: 58%;
        padding-left: vars.rem(167);
        padding-top: vars.rem(64);

        img {
            margin-bottom: vars.rem(130);
        }

        .leitmotiv {
            width: min-content;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: vars.rem(8);
            color: vars.$dark-grayish-red;
            font-size: vars.rem(30);

            span {
                color: vars.$des-red;
                font-weight: 400;
            }
        }

        .content {
            width: vars.rem(430);
            margin: vars.rem(45) 0;
            line-height: 2;
            color: vars.$des-red;
            font-size: vars.rem(15);
        }

        form {
            width: vars.rem(430);
            height: vars.rem(55);
            border: 2px solid vars.$des-red;
            display: flex;
            border-radius: vars.rem(27);
            // overflow: hidden;

            [type="text"] {
                height: 100%;
                // width: 80%;
                flex: 4;
                background: transparent;
                border: none;
                // background: red;
                padding-left: vars.rem(25);
                outline: none;
            }

            [type="submit"] {
                cursor: pointer;
                font-size: vars.rem(20);
                @include vars.flexer(center, center);
                color: #fff;
                flex: 1;
                height: 100%;
                width: 10%;
                background: vars.$grad2;
                border: none;
                border-radius: vars.rem(27);
                box-shadow: 0px 10px 15px rgb(110, 110, 110);

                &:hover {
                    background: vars.$test;
                }
            }

            &.invalid {
                border-color: red;
            }
        }

        .warning {
            visibility: hidden;
            text-align: left;
            font-size: vars.rem(13);
            color: red;
        }
    }

    &_right {
        // background: green;
        min-width: vars.rem(250);
        background-size: cover;
        background-image: url(../../images/hero-desktop.jpg);
    }
}

@media screen and (max-width: 595px) {
    .container {
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: vars.rem(84) vars.rem(251) 1fr;
        position: relative;

        & > * {
            width: 100%;
        }

        &_right {
            height: 100%;
            background-image: url(../../images/hero-mobile.jpg);
            background-size: cover;
            background-position: center;
            grid-row: 2;
        }
        &_left {
            grid-row: 3;
            height: 100%;
            padding: 0;
            @include vars.flexer(center, center);
            flex-direction: column;

            .leitmotiv {
                text-align: center;
            }

            .content {
                width: 90%;
                text-align: center;
            }

            form {
                width: vars.rem(310);
            }
        }

        img {
            position: absolute;
            top: vars.rem(29);
            left: vars.rem(32);
        }
    }
}
